html, body, #st-full-pg  {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, 
                                rgba(89,79,79,1) 0%, 
                                rgba(84,121,128,1) 50%, 
                                rgba(69,173,168,1) 65%, 
                                rgba(157,224,173,1) 80%, 
                                rgba(229,252,194,1) 90%);
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.main {
    height: calc(100% - 64px);
}